<ui-toolbar class="fixed flat elevate-on-scroll primary elevate-on-s960" id="app-header">
    <span class="title">MU C.A. Helper</span>
</ui-toolbar>

<div class="ui-s960">
    <ui-card class="elevate-on-toolbar">
        <ui-toolbar class="flat">
            <span class="title">Lista de personagens</span>
        </ui-toolbar>
        <ui-data-table class="responsive">
            <tbody>
            <tr>
                <th>Alerta</th>
                <th>Personagem</th>
                <th>Resets</th>
                <th>Level</th>
                <th>Tempo desde a última alteração do level</th>
            </tr>
            <tr *ngFor="let user of users">
                <td class="option">
                    <ui-option>
                        <input type="checkbox" [(ngModel)]="user.alert" [checked]="user.alert">
                    </ui-option>
                </td>
                <td data-title="Personagem">{{user.name}}</td>
                <td data-title="Resets">{{user.resets}}</td>
                <td data-title="Level">{{user.level}}<span *ngIf="user.reseted"> (Resetou)</span></td>
                <td data-title="Tempo desde a última alteração do level"
                    [class.empty]="!user.lastUpdate">
                    {{user.lastUpdate | uiTimeAgo : '' : ' atrás' : true}}
                </td>
            </tr>
            <tr class="empty" *ngIf="!users || !users.length">
                <td colspan="4">Nenhum usuário encontrado</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <strong>Alerta</strong> = Receber aviso ao resetar e se ficar mais de 10 minutos sem
                    subir de nível
                </td>
            </tr>
            </tfoot>
        </ui-data-table>
    </ui-card>
    <ui-card>
        <img class="responsive" src="/assets/maps/aida.png" alt="">
    </ui-card>
</div>
